.mat-dialog-actions {
  height: 90px;
  width: 90px;
}

#ava {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  border-color: cornflowerblue;
}

#tableAvatar {
  margin: auto;
  width: auto;
  padding: auto;
  position: relative;
}
