<h2 mat-dialog-title>Editando...</h2>
<mat-dialog-content>

    {{data.fullName}}
    <div id="tableAvatar">
        <table class="table table-striped">
            <tr>
                <td>
                    <img mat-card-avatar id="ava" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
                </td>
                <td>
                    <mat-icon>more_vert</mat-icon>

                </td>
            </tr>
        </table>
    </div>
    <br>
    <mat-tab-group>

        <mat-tab label="Dados Pessoais">
            <form>
                <div>
                    <table class="table table-striped">
                        <tr>
                            <br>
                            <mat-form-field appearance="fill">
                                <mat-label>Nome:</mat-label>
                                <input value={{data.fullName}} matInput>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill">
                                <mat-label>Nascimento:</mat-label>
                                <input value={{data.fullName}} matInput>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill">
                                <mat-label>Estado Cívil:</mat-label>
                                <input value={{data.fullName}} matInput>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill">
                                <mat-label>Disciplina</mat-label>
                                <mat-select>
                                    <mat-option value="one">Português</mat-option>
                                    <mat-option value="one">Alemão</mat-option>
                                    <mat-option value="one">Árabe</mat-option>
                                    <mat-option value="one">Espanhol</mat-option>
                                    <mat-option value="one">Italiano</mat-option>
                                    <mat-option value="one">Inglês</mat-option>
                                    <mat-option value="one">Japonês</mat-option>
                                    <mat-option value="one">Mandarim</mat-option>
                                    <mat-option value="one">Francês</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </tr>
                    </table>

                </div>
            </form>

        </mat-tab>
        <mat-tab label="Endereço">
            <form>
                <div>
                    <table class="table table-striped">
                        <tr>
                            <mat-form-field appearance="fill">
                                <mat-label>Rua:</mat-label>
                                <input matInput>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill">
                                <mat-label>Número:</mat-label>
                                <input matInput>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill">
                                <mat-label>Bairro:</mat-label>
                                <input matInput>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill">
                                <mat-label>Cidade:</mat-label>
                                <input matInput>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill">
                                <mat-label>Estado:</mat-label>
                                <input matInput>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field class="field" appearance="fill">
                                <mat-label>Complemento:</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </tr>
                    </table>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Contatos">
            <form>
                <div>
                    <table class="table table-striped">
                        <tr>
                            <mat-form-field appearance="fill">
                                <mat-label>Cel:</mat-label>
                                <input matInput>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill">
                                <mat-label>Tel Residencial:</mat-label>
                                <input matInput>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill">
                                <mat-label>Tel Comercial:</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </tr>
                    </table>
                </div>
            </form>
        </mat-tab>
        <mat-tab label="Redes Sociais">
            <form>
                <div>
                    <table>
                        <tr>
                            <mat-form-field appearance="fill">
                                <mat-label>Instagram:</mat-label>
                                <input matInput>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill">
                                <mat-label>Twitter:</mat-label>
                                <input matInput>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field appearance="fill">
                                <mat-label>Facebook:</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </tr>
                    </table>
                </div>
            </form>

        </mat-tab>

    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fechar</button>
    <button (click)="save()" mat-button [mat-dialog-close]="true" cdkFocusInitial>Salvar</button>
</mat-dialog-actions>