<form>
    <div>
        <table>
            <tr>

                <mat-form-field>
                    <mat-label>Nome Instituição</mat-label>
                    <input matInput value="Itau" placeholder="Nome do Banco">
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <mat-label>Tipo</mat-label>
                    <input matInput value="Corrente" placeholder="Corrente/Poupança">
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <mat-label>Agencia</mat-label>
                    <input matInput value="0000">
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <mat-label>Conta</mat-label>
                    <input matInput value="00000-0" placeholder="Nº da conta no banco">
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                    <mat-label>Observações</mat-label>
                    <input matInput value="" placeholder="alertas, lembretes etc...">
                </mat-form-field>
            </tr>
        </table>
    </div>
</form>
