<div>
    <button id="newClass" mat-icon-button color="primary" tooltip="Marca nova uma nova aula.">
        <i class="far fa-calendar-plus fa-5x"></i>
    </button>

</div>
<mat-form-field class="seach">
    <mat-label>Pesquisar por aula.</mat-label>
    <textarea [(ngModel)]="filteringString" matInput placeholder="Procurar aula..."></textarea>
</mat-form-field>
<div id="searchDiv">
    {{filteringString}}
    <br>
</div>
<br>
<br>
<table class="table">
    <thead class="thead-light">
        <div>
            <th style="background-color: rgb(14, 79, 14); color:white;">
                Idioma
            </th>

            <th style="background-color: rgb(14, 79, 14); color:white;">
                Unidade

            </th>

            <th style="background-color: rgb(14, 79, 14); color:white;">
                Nome
            </th>
            <th style="background-color: rgb(14, 79, 14); color:white;">
                Sala
            </th>
            <th style="background-color: rgb(14, 79, 14); color:white;">
                Inicio
            </th>

            <th style="background-color: rgb(14, 79, 14); color:white;">
                Fim
            </th>
            <th id="thActions" style="background-color: rgb(14, 79, 14); color:white;">
                <i class="fas fa-bars"></i>
            </th>
        </div>
    </thead>
    <tr class="trSpace"></tr>
    <tbody>
        <div id="divB">
            <tr>

                <div *ngFor="let class of filteredArray">


                    <td>
                        {{class.discipline.language}}

                    </td>

                    <td>
                        {{class.unit.name}}

                    </td>

                    <td>
                        {{class.teacher.name}}

                    </td>
                    <td>
                        {{class.room.identifier}}

                    </td>
                    <td>
                        {{class.start | DateTimeFormatPipe}}
                    </td>

                    <td>
                        {{class.end | DateTimeFormatPipe}}
                    </td>
                    <td class="menuEdit">
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>deletesweep</mat-icon>
                                <span>Excluir</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>Modificar</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>info</mat-icon>
                                <span>Detalhes</span>
                            </button>
                        </mat-menu>
                    </td>

                </div>

            </tr>
        </div>
    </tbody>
</table>
