<div>
    <button id="newClass" mat-icon-button color="primary" tooltip="Cadastrar aluno.">
        <i class="fas fa-users fa-5x"></i>
    </button>

</div>
<mat-form-field class="seach">
    <mat-label>Pesquisar por auluno.</mat-label>
    <textarea [(ngModel)]="filteringString" matInput placeholder="Procurar aluno..."></textarea>
</mat-form-field>
<div id="searchDiv">
    {{filteringString}}
    <br>
</div>
<br>
<br>
<div>
    <table>
        <thead colspan="2">

            <th style="background-color: rgb(14, 79, 14); color:white;">

                Nome


            </th>

            <th style="background-color: rgb(14, 79, 14); color:white;">

                Sobrenome

            </th>

            <th style="background-color: rgb(14, 79, 14); color:white;">

                Residencial

            </th>

            <th style="background-color: rgb(14, 79, 14); color:white;">

            </th>

            <th style="background-color: rgb(14, 79, 14); color:white;"><i class="fas fa-bars"></i></th>
        </thead>
        <tr class="trSpace"></tr>
        <tbody *ngFor="let items of _filteredArray">

            <tr>
                <td>{{items.name}}</td>
                <td>{{items.lastName}}</td>
                <td>{{items.contact.homePhone}}</td>
                <td>
                    {{langs}}
                </td>
                <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>deletesweep</mat-icon>
                            <span>Excluir</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Modificar</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>info</mat-icon>
                            <span>Detalhes</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>

        </tbody>




    </table>
</div>
