<mat-form-field class="seach">
    <mat-label>Pesquisar por professor.</mat-label>
    <textarea [(ngModel)]="FilteringString" matInput placeholder="Procurar professor..."></textarea>
</mat-form-field>
<div id="searchDiv">
    {{FilteringString}}
    <br>
</div>
<div>
    <table class="table">
        <thead>

            <th style="background-color: rgb(14, 79, 14); color:white;">

                Nome


            </th>

            <th style="background-color: rgb(14, 79, 14); color:white;">

                Email

            </th>

            <th style="background-color: rgb(14, 79, 14); color:white;">
                Idioma
            </th>

            <th style="background-color: rgb(14, 79, 14); color:white;">
                WhatsApp
            </th>

            <th style="background-color: rgb(14, 79, 14); color:white;"><i class="fas fa-bars"></i></th>
        </thead>
        <tr class="trSpace"></tr>
        <tbody *ngFor="let items of FilteredArray">

            <tr>
                <td>{{items.name}}</td>
                <td>{{items.contact.email}}</td>
                <td>
                    {{langs}}
                </td>
                <td>{{items.contact.instantMessage[1].name}}</td>
                <td>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>deletesweep</mat-icon>
                            <span>Excluir</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span (click)="openDialog()">Modificar</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>info</mat-icon>
                            <span>Detalhes</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>

        </tbody>




    </table>
</div>
