<h2 mat-dialog-title>Cadastro do Professor</h2>
<mat-dialog-content>

    <br>
    <form [formGroup]="RegisterFormDataPer">
        <div id="all">
            <table>

                <tr>
                    <mat-form-field appearance="fill">
                        <mat-label>Nome Completo:</mat-label>
                        <input matInput formControlName="fullname">
                    </mat-form-field>
                    &nbsp;
                </tr>
                <div formGroupName="contact" class="form-group">
                    <tr>
                        <mat-form-field appearance="fill">
                            <mat-label>Cel:</mat-label>
                            <input matInput formControlName="cel">
                        </mat-form-field>
                        &nbsp;
                    </tr>
                    <tr>
                        <mat-form-field appearance="fill">
                            <mat-label>E-Mail:</mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>
                        &nbsp;
                    </tr>
                </div>
                <div formGroupName="address" class="form-group">
                    <tr>
                        <mat-form-field class="field" appearance="fill">
                            <mat-label>Observações:</mat-label>
                            <input matInput formControlName="complent">
                        </mat-form-field>

                    </tr>
                </div>
                <div formArrayName="disciplines">
                    <div>
                        <tr>
                            <mat-form-field appearance="fill">
                                <mat-label>Idiomas</mat-label>
                                <mat-select formGroup="disciplinesTeacher" [formControl]="Selected" multiple>
                                    <mat-select-trigger>
                                        {{Selected.value ? Selected.value[0] : ''}}
                                        <span *ngIf="Selected.value?.length > 1" class="example-additional-selection">
                                      (+{{Selected.value.length - 1}} {{Selected.value?.length === 2 ? 'other' : 'others'}})
                                    </span>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let topping of _disciplineList" [value]="topping">{{topping}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </tr>
                    </div>
                </div>
            </table>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Fechar</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial (click)="save()">Salvar</button>
</mat-dialog-actions>