<table>
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Unidade</mat-label>
                    <mat-select>
                        <mat-option value="">Lourdes</mat-option>
                        <mat-option value="">Cidade Nova</mat-option>
                        <mat-option value="">Santa Efigênia</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Salas</mat-label>
                    <mat-select>
                        <mat-option value="">Sala 100</mat-option>
                        <mat-option value="">sala 150</mat-option>
                        <mat-option value="">Sala 200</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <mat-form-field>
                <td>
                    <mat-label>Disciplina</mat-label>
                    <mat-select>
                        <mat-option value="Alemão">Alemão</mat-option>
                        <mat-option value="Árabe">Árabe</mat-option>
                        <mat-option value="Chinês">Chinês</mat-option>
                        <mat-option value="Espanhol">Espanhol</mat-option>
                        <mat-option value="Francês">Francês</mat-option>
                        <mat-option value="Inglês">Inglês</mat-option>
                        <mat-option value="Italiano">Italiano</mat-option>
                        <mat-option value="Japonês">Japonês</mat-option>
                        <mat-option value="Portuês">Portuês</mat-option>
                    </mat-select>
                </td>
            </mat-form-field>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <mat-label>Professor</mat-label>
                    <mat-select>
                        <mat-option value="João Nunes Gomes">João Nunes Gomes</mat-option>
                        <mat-option value="Ana Clara">Ana Clara</mat-option>
                        <mat-option value="Maria luiza">Maria luiza</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>

                <mat-form-field>
                    <input matInput placeholder="Inicio" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <mat-form-field>

                    <input matInput placeholder="Fim" [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Alunos</mat-label>
                    <mat-select>
                        <mat-select-trigger>

                            <span>

                            </span>
                        </mat-select-trigger>
                        <mat-option value="1">Teste</mat-option>
                    </mat-select>
                </mat-form-field>

            </td>
        </tr>
        <tr>
            <td>

                <mat-icon>
                    save
                </mat-icon>
            </td>
        </tr>
    </tbody>
    <tfoot>


    </tfoot>
</table>
