<div>
    <mat-form-field class="example-full-width">
        <mat-label>Pesquisar...</mat-label>
        <input matInput placeholder="Nome Professor...">
    </mat-form-field>
</div>
<div>
    <table id="teachertable">
        <thead>
            <tr>
                <th>
                    <h4> Nome </h4>
                </th>
                <th>
                    <h4> Disciplina </h4>
                </th>
                <th>
                    <h4> Unidade </h4>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <mat-list-item> Marcus Vinícius Dias </mat-list-item>
                </td>
                <td>
                    <mat-list-item> Inglês </mat-list-item>
                </td>
                <td>
                    <mat-list-item> Lourdes </mat-list-item>
                </td>
            </tr>
        </tbody>
    </table>
</div>
